ENV="xxxxxxxxxxx"
LOG_LEVEL="xxxxxxxx"

APP__NAME="xxxxxxxxxxxxxxx"
APP__VERSION="x"
APP__HOST="xxxxxxxxx.x.x"
APP__PORT=xxxx
APP__DESCRIPTION="xxxxxxxxxxxxxxxxxxxxx"

KENTRO__API_URL="xxxxxxxxxxxxxxxxxxx"
KENTRO__API_KEY="xxxxxxxx-xxxxxxxx-xxxxxxxx-xxxxxxxx-xxxxxxxxxxxx"
KENTRO__API_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
KENTRO__API_VERSION="xx"

WOOCOMMERCE__API_URL="xxxxxxxxxxxxxxxx"
WOOCOMMERCE__CONSUMER_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
WOOCOMMERCE__CONSUMER_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
WOOCOMMERCE__API_VERSION="xx"



